

#home-svg {
	opacity: 1;
}

#home-svg,
#complete,
#closed-mouth,
#smile,
.clipped {
	max-width: 50vw;
	max-height: 70vh;
	top: 10vh;
	z-index: 10;
}

.home-path {
	clip-path: url(#clip);
	fill: #000000;
	stroke: black;
	fill-opacity: 0;
	stroke-width: 4;
	animation: drawSvg var(--drawing_duration) linear forwards,
				fadeOut .4s linear forwards var(--drawing_duration);
}

.home-path.board {
	stroke-dasharray: 3149; /* predtym 8969 */
	stroke-dashoffset: 3149; /* predtym 8969 */
}

.home-path.left-side {
	stroke-dasharray: 3300; /* predtym 8969 */
	stroke-dashoffset: 3300; /* predtym 8969 */
}

.home-path.head {
	stroke-dasharray: 2967; /* predtym 8969 */
	stroke-dashoffset: 2967; /* predtym 8969 */
}

.home-path.right-side {
	stroke-dasharray: 960; /* predtym 8969 */
	stroke-dashoffset: 960; /* predtym 8969 */
}

.home-path.left-eye {
	stroke-width: 5;
	stroke-dasharray: 323; /* predtym 8969 */
	stroke-dashoffset: 323; /* predtym 8969 */
	animation: drawSvg 1s linear forwards 2s, fadeOut .4s linear forwards var(--drawing_duration);
}

.home-path.right-eye {
	stroke-width: 5;
	stroke-dasharray: 278.5; /* predtym 8969 */
	stroke-dashoffset: 278.5; /* predtym 8969 */
	animation: drawSvg 1s linear forwards 2s, fadeOut .4s linear forwards var(--drawing_duration);
}

#complete {
	opacity: 0;
	animation: fadeIn .4s linear forwards var(--drawing_duration), breathe 2s linear infinite;
}

#closed-mouth {
	animation: fadeInAndOut 2s linear forwards var(--drawing_duration), breathe 2s linear infinite;
}

#smile {
	animation: fadeIn .1s linear forwards var(--show_smile), breathe 2s linear infinite;
}

.header-title {
	opacity: 0;
	animation: fadeIn .5s linear forwards 4.5s;
}

@keyframes breathe {
	0% {
		transform: translateX(-50%) translateY(0px) scale(1.0025)
	}
	25% {
		transform: translateX(-50%) translateY(-2px)  scale(1.005)
	}
	50% {
		transform: translateX(-50%) translateY(0px) scale(1.0025)
	}
	75% {
		transform: translateX(-50%) translateY(2px) scale(1)
	}
	100% {
		transform: translateX(-50%) translateY(0) scale(1.0025)
	}
}

@keyframes drawSvg {
	100% {
		stroke-dashoffset: 0; /* alebo 17938.5859375, 0 */
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes fadeInAndOut {
	0% {
		opacity: 0
	}
	40% {
		opacity: 1
	}
	90% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}